.header {
  height: 7rem;
  border-bottom: 1px solid var(--color-grey-light-2);
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include respond(phone) {
    flex-wrap: wrap;
    height: 12rem;
  }
}
.logo {
  height: 3.25rem;
  margin-left: 3rem;
  @include respond(phone) {
    height: 2.5rem;
  }
}
