* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  @include respond(tab-land) {
    font-size: 56%;
  }
}
body {
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--color-grey-dark-2);
}
.container {
  max-width: 1200px;
  margin: 8rem auto;
  background-color: var(--color-Grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
  @include respond(tab-land) {
    margin: 0 auto;
  }
}
